
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#to-top{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 2vw;
    bottom: 5vh;
    z-index: 999;
    width: 40px;
    aspect-ratio: 1;
    border-radius: 100%;
    background-color: silver;
    box-shadow: 0px 0px 20px -px black;
    color: black;
    cursor: pointer;
    
}








/* @keyframes text {

 0%{
    clip-path: polygon(0 17%, 12% 21%, 31% 28%, 46% 28%, 61% 20%, 74% 11%, 88% 8%, 100% 10%, 100% 100%, 0% 100%);
 }
 50%{
    clip-path: polygon(0% 9%, 11% 9%, 20% 13%, 31% 19%, 45% 27%, 61% 28%, 88% 21%, 100% 15%, 100% 100%, 0% 100%);    
}
100%{
    clip-path: polygon(0 17%, 12% 21%, 31% 28%, 46% 28%, 61% 20%, 74% 11%, 88% 8%, 100% 10%, 100% 100%, 0% 100%);
 
} 
} */


/* =============================mob navbar===================================== */




/* --------------------------------------------------------------------------------- */

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 300,
    'GRAD' -25,
    'opsz' 24;
  }
*{
    margin: 0;
    padding: 0;
    font-family: poppins;
    scroll-behavior: smooth;
    text-decoration: none;
    /* border: 1px solid red; */
}
.body{
    overflow-y: hidden;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    height: 100vh;
}
.wrap{
    /* overflow-x: hidden; */
    /* background-color: #01203a; */
    background: linear-gradient( #073c68, #01203a);
    width: 100vw;
    height: 100vh;
}
nav{
    width: 100vw;
    max-height: 50px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    z-index: 10;
    
}
.nav-body{
    width: 90vw;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 100px;

}
.links{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #01203a;
    font-size: 12px;
    text-transform: uppercase;
    background-color: white;
    width: 350px;
    height: 40px;
    border-radius: 100px;
}
.links button{
    font-size: 10px;
    margin-right: -20px;
    background: linear-gradient( #01203a , #01355f);
    color:white;
    width: 90px;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 100px;
    transition: 0.1s;
    cursor: pointer;
}
.links button:hover{
    background: linear-gradient(#01203a , #01355f);
    color: white;
    /* font-weight: 600; */
}
.links a{
    color: #01203a;
    text-decoration: none;
    position: relative;
    margin: 10px;
    /* text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1); */
}
.links a::after{
    content: "";
    width: 0%;
    height: 2px;
    background-color: #01203a;
    border-radius: 3px;
    position: absolute;
    left: 0%;
    bottom: -5%;
    transition: 0.2s ease;
    
    
    
}
.links a:hover::after{
    width: 100%;
}




.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.right{
    margin-top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.right-btn{
    display: flex;
    margin-top: 5vh;
    gap: 1vw;
}
.right-btn button:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    outline: none;
    border: none;
    width: 180px;
    height: 55px;
    color: #01203a;
    cursor: pointer;
    transition: 0.2s ease;
    font-size: 15px;
    margin-left: 10px;
}
.right-btn button:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid white;
    width: 180px;
    height: 55px;
    color: white;
    cursor: pointer;
    transition: 0.2s ease;
}
.right-btn button:hover{
    transform: translateY(-2px);
}
.heading{
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.right h1{
    text-transform: uppercase;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    font-weight: 600;
}
.right p{
    margin-top: 1%;
    color: white;
    font-size: 12px;
    animation: p-tag 4s ease-in-out infinite;
}
.right h1:nth-child(1){
    position: absolute;
    -webkit-text-stroke: 0.5px white;
    color: transparent;
}
.right h1:nth-child(2){
    color: white;
    animation: text 6s ease infinite;
}
.slider{
    display: flex;
    align-items: center;
    margin-top: 50px;
    width: 60vw;
    height: 47px;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
    overflow: hidden;
    mask-image: linear-gradient(to right, transparent, black, transparent);
}
.slider ul{
    width: 100%;
    min-width: calc(186px * 9);
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    /* border: 1px solid green; */
}
.slider ul li{
    display: flex;
    list-style: none;
    position: absolute;
    left: 100%;
    animation: coins 30s linear infinite;
    animation-delay: calc(3s * (var(--index) - 1) - 30s);
}
.slider:hover ul li{
    animation-play-state: paused!important;
}
.slider ul li img{
    height: 30px;
    display: flex;
}
































.wrap2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* align-items: center; */
    width: 80vw;
    height: 100vh;
    margin-top: 12%;
    background-image: url(images/c/graph.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    backdrop-filter: opacity(0.1);
    /* border: 1px solid red; */
}
.right2{
    width: 50%;
}
.right2 h1{
    font-family: montserrat;
    width: 70%;
    text-transform: capitalize;
    /* border: 1px solid red; */
    color: #01355f;
    font-size: 30px;
}
.right2 p{
    font-size: 15px;
    width: 70%;
    margin-top: 20px;
    color: #01203a;
}
.right2 a{
    font-family: system-ui;
    display: flex;
    justify-content: space-between;
    width: 170px;
    padding: 10px 20px;
    border-radius: 100px;
    align-items: center;
    margin-top: 40px;
    font-weight: 700;
    color: #01355f;
    /* background-color: #01355f; */
    outline: 1px solid #000c3d;
    position: relative;
    overflow: hidden;
    transition: 0.5s ease;

}
.right2 a:hover{
    color: white;
}
.right2 a::after{
    content: "";
    z-index: -1;
    position: absolute;
    left: -300px;
    width: 300px;
    height: 100px;
    background-color: #01355f;
    transition: 0.5s ease;
}
.right2 a:hover::after{
    left: 0;
}
.left2{
    /* border: 1px solid green; */
    width: 50%;
    height: 100%;
    position: relative;
}
.left2::after{
    z-index: -1;
    content: "";
    width: 200px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 60%;
    background-image: linear-gradient(45deg, #00c3ff, #000c3d);
    filter: blur(100px);
    opacity: 0.5;

}
.left2 ul{
    width: 80%;
    height: max-content;
    /* border: 1px solid red; */
    position: relative;
}
.left2 ul li{
    /* border: 1px solid red; */
    opacity: 0;
    margin-top: 50px;
    position: absolute;
    list-style: none;
    display: flex;
    
}
.left2 ul *{
    animation: cointabs-1 forwards;
    animation-timeline: view();
    animation-range: entry 100% cover 30%;
}
.left2 ul li:nth-child(1){
    top: 0;
    left: 0;
}
.left2 ul li:nth-child(2){
    top: 140px;
    left: 0;
}
.left2 ul li:nth-child(3){
    top: -80px;
    left: 120px;
}
.left2 ul li:nth-child(4){
    top: 60px;
    left: 120px;
}
.left2 ul li:nth-child(5){
    top: 200px;
    left: 120px;
}
.left2 ul li:nth-child(6){
    top: -20px;
    left: 240px;
}
.left2 ul li:nth-child(7){
    top: 120px;
    left: 240px;
}
.left2 ul li:nth-child(8){
    top: 260px;
    left: 240px;
}
.left2 ul li:nth-child(9){
    top: 20px;
    left: 360px;
}
.left2 ul li:nth-child(10){
    top: 160px;
    left: 360px;
}
.left2 ul li img{
    width: 110px;
    /* aspect-ratio: 168/192; */
}





























.wrap3{
    width: 90%;
    height: 100vh;
    margin-top: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrap3 *{
    /* border: 1px solid red; */
    font-family: montserrat;
    position: relative;
}
.right3{
    width: 50%;
    display: flex;
    align-items: center;
    position: relative;
    animation-timeline: view();
    animation-range: cover 0% entry 30%;
}
.right3 img{
    animation-delay: 3s;
    margin-top: -100px;
    width: 80%;
    border: none;
    /* border-radius: 20px; */
    /* transform: scaleX(); */
    /* border: 1px solid red; */
}  
.right3::after{
    z-index: -1;
    content: "";
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: absolute;
    top: 0%;
    left: 0%;
    background-image: linear-gradient(45deg, #00c3ff, #000c3d);
    filter: blur(100px);
    opacity: 0.5;

} 

.left3{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
}
.grid{
    margin: 100px;
    z-index: -1;
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    grid-template-columns: 11.25vw 11.25vw 11.25vw 11.25vw 11.25vw 11.25vw 11.25vw 11.25vw ;
    grid-template-rows: 100px 100px ;
    opacity: 0.5;
    mask-image: radial-gradient(circle, rgba(0,0,0,0.1) 0%, rgba(255,255,255,0) 46%);
    /* border: 1px solid red; */
}
.grid *{
    border: 0.01px solid #000c3d;
    opacity: 0.5;
}
.left3 h1{
    /* border: 1px solid red; */
    width: 500px;
    margin-top: -70px;
    color: transparent;
    background-image: linear-gradient(-45deg, #00c3ff, #000c3d);
    font-weight: 700;
    font-size: 60px;
    font-family: montserrat;
    text-transform: capitalize;
    position: relative;
    background-clip: text;
}
.left3 p{
    font-size: 15px;
    width: 70%;
    margin-top: 20px;
    color: #01203a;
}
.left3 a{
    font-family: system-ui;
    display: flex;
    justify-content: space-between;
    width: 150px;
    padding: 10px 20px;
    border-radius: 5px;
    align-items: center;
    margin-top: 40px;
    font-weight: 600;
    color: white;
    background-image: linear-gradient(-45deg, #00c3ff, #000c3d);
    position: relative;
    overflow: hidden;
    transition: 0.5s ease;
}
.left3 a:hover{
    color: white;
    outline: none;
}
.left3 a::after{
    content: "";
    z-index: -1;
    position: absolute;
    left: -300px;
    width: 300px;
    height: 100px;
    transition: 0.5s ease;
}
.left3 a:hover::after{
    left: 0;
}


























.container-less{
    width: 90vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    
}
.brands-head{
    margin-top: 100px;
    color: white;
    background-color: #01203a;
    font-weight: 400;
    height: 10%;
    padding: 10px 10vw;
    /* display: inline-flex; */
    /* border-radius: 10px 10px 10px 10px ; */
}
.card-ctl{
    /* margin-left: 60px; */
    margin-top: 10%;
    width: 90vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    overflow: auto; 
    gap: 50px;
}
.card-ctl::-webkit-scrollbar{
    display: none;
}
.card{
    /* margin-left: 100px; */
    flex-shrink: 0;
    background-color: #e9151510;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 1rem;
    overflow: auto;

}
.card img{
    margin-top: 1rem;
    border: 5px solid #01203a;
    width: 40%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 100rem;
}
.card h3{
    margin-top: 10%;
}
.card p{
    font-size: 12px;
    padding: 0px 10%;
    overflow: auto;
}
.card button{
    margin-top: 5%;
    width: 50%;
    aspect-ratio: 100/30;
    background-color: #01203a;
    color: white;
    outline: none;
    border: none;
    border-radius: 3px;
    transition: 0.1s ease;
}
.card button:hover{
    transform: scale(1.01);
}

.text-area{
    width: 90%;
    margin-top: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: #00000030; */
}
.text-area1 , .text-area2{
    width: 40%;
    color: #0e0e0e
    
    /* background-color: #01203a; */
    /* padding: 20px; */
}
.text-area1 h2,.text-area2 h2{
    color: white;
    display: flex;
    justify-content: start;
    padding: 10px;
    padding-left: 30px;
    width: 90%;
    border-radius: 10px;
    align-items: center;
    margin-bottom: 10px;
    background-color: #01203a;
    background-color: #01203a;
}
.text-area1 p,.text-area2 p{
    font-size: 12px;
}


footer{
    background-color: black;
    width: 100vw;
    padding: 30px 0px;
    color: white;
}